body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: rgb(159, 225, 247);
  }
  
h1 {
    font-size: 2.5em;
    margin-top:20px;
}

.container{
    margin-top: 30px;
}

input[type="number"]{
    width: 200px;
    padding:10px;
    margin: 10px;
    font-size: 1.5em;
    border:1px solid #ffffff;
    border-radius: 5px;
}

.btn {
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }


#result{
    font-size: 2em; 
    margin-top: 20px;
    padding: 10px;
    background-color: aqua;
    display: inline-block;
    min-width: 200px;
    border-radius: 5px;
}


